/* global index page */
.sectionTitle {
  font-size: 1rem;
  color: #c9c9c9;
}

/* Skills Component */

.skillsSection {
  display: flex;
}
.skillsPreview {
  font-size: 1.3rem;
  line-height: 2.2rem;
}
.skillsList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.skillsList li:not(:first-child),
skillsList li:not(:last-child) {
  margin-top: 4rem;
}

.skillTitle {
  font-size: 1.4rem;
}

/* FeaturedProject Component */

/* Social Component */
.socialSection {
  display: flex;
  align-items: stretch;
}
.socialContact {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex-basis: 50%;
  margin: 0;
}

.socialLink {
  font-size: 1.5rem;
  list-style-type: none;
}
.socialContact li:not(:first-child),
socialContact li:not(:last-child) {
  margin-top: 1.5rem;
}
